@use '../abstracts/variables' as *;

.section {
    padding: 40px 0;
}

.container {
    width: min(1280px, calc(100% - 40px));
    margin: 0 auto;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 56px;

    h2 {
        font-size: 48px;
        font-weight: 800;
        letter-spacing: -1px;
        color: $text-color;
    }
}

.view-all {
    font-size: 16px;
    font-weight: 600;
    color: $secondary-color;

    transition: 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}