@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: $background-color;
    color: $text-color;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button,
input {
    font-family: inherit;
}